---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/layout.astro';
import { render } from 'astro:content';

export async function getStaticPaths() {
  const tils = await getCollection('til');
  return tils.map((til) => ({
    params: { slug: til.id },
    props: til,
  }));
}
type Props = CollectionEntry<'til'>;

const til = Astro.props;
const { Content } = await render(til);
---

<Layout {...til.data}>
  <h1 class="text-2xl font-bold uppercase mb-4">{til.data.title}</h1>
  <div class="markdown">
    <Content />
  </div>
</Layout>
