@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-space-mono), 'Courier New', monospace;
  --font-mono: var(--font-space-mono), 'Courier New', monospace;
}

@layer base {
  body {
    @apply text-[15px];
    letter-spacing: -0.5px;
  }
  a {
    &:hover {
      @apply underline;
    }
  }
}

@layer components {
  .markdown {
    & h1,
    h2,
    h3,
    h4 {
      @apply uppercase font-bold;
    }
    & p {
      @apply my-2;
    }
    & a {
      @apply font-bold;
      & hover {
        @apply underline;
      }
    }

    & pre {
      @apply border-gray-200 border rounded-md overflow-x-auto;
    }

    & pre code {
      @apply block p-2 relative;
    }

    & code:not(pre code) {
      @apply bg-gray-100 rounded-md px-1 py-0.5 text-gray-950;
    }
  }
}
