---
const today = new Date();
import { Copyright } from '@lucide/astro';
---

<footer
  class="flex justify-between w-full max-w-2xl mx-auto text-stone-400 my-4"
>
  <div class="flex gap-2">
    <a
      href="https://github.com/huv1k"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Github"
    >
      <img src="/github.svg" width="16" height="16" alt="GitHub" class="fill-current" />
    </a>
    <a
      href="https://x.com/huv1k"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Twitter"
    >
      <img src="/x.svg" width="16" height="16" alt="X" />
    </a>
  </div>
  <div class="flex gap-2 uppercase items-center">
    <Copyright size={10} />
    {today.getFullYear()} Huvik
  </div>
</footer>
