---
import HeaderLink from './header-link.astro';
---

<header class="max-w-2xl w-full mx-auto my-4 flex justify-end">
  <nav class="flex gap-4">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/til">Today I Learned</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
  </nav>
</header>
