---
const talks = [
  {
    name: "Loading 40 MB of JSON on initial load",
    location: "Productboard frontend meetup #4 2022",
    href: "https://www.youtube.com/watch?v=43OCcnLYYn8",
  },
  {
    name: "Every millisecond matters",
    location: "Productboard frontend meetup #3 2021",
    href: "https://www.youtube.com/watch?v=IWR3xxEc3V0",
  },
  {
    name: "Code-first GraphQL Server Development with Nexus & Prisma",
    location: "PragueJS 2019 #4",
    href: "https://www.youtube.com/watch?v=rTJYIfae7Rk",
  },
] as const;
---

<section class="mb-8">
  <h2 class="text-lg font-bold uppercase">Speaking</h2>
  {
    talks.map((talk) => (
      <div class="flex justify-between">
        <a href={talk.href} target="_blank" rel="noopener noreferrer">
          {talk.name}
        </a>
        <p class="text-stone-400">{talk.location}</p>
      </div>
    ))
  }
</section>
